@media only screen 
and (min-width : 1224px) {
/* Styles */
html, body {
  margin: 0;
  padding: 0;
}
canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);          
}

.sortingCanvas {
  width: 500px;
  height: 460px;
}
.info{
  display: none;
}

.speedSlider{
  position: absolute;
  left: 500px;
  top: 300px;
  width: 170px;
}
.title{
  color: #ffffff;
  text-align: center;
  position: fixed;
  left: 0;
  margin-top: 60px;
  margin-left: -10px;
  width: 100%;
  font-size: xx-large;
  font-family: 'Trebuchet MS', sans-serif;
}

.speed{
  color: #ffffff;
  text-align: center;
  position: fixed;
  left: 0;
  margin-left: -418px;
  margin-top: 250px;
  width: 100%;
  font-size: medium;
  font-family: 'Trebuchet MS', sans-serif;

}
.size{
  color: #ffffff;
  text-align: center;
  position: fixed;
  left: 0;
  margin-left: 343px;
  margin-top: 250px;
  width: 100%;
  font-size: medium;
  font-family: 'Trebuchet MS', sans-serif;

}

.algo{
  color: #ffffff;
  text-align: center;
  position: fixed;
  left: 0;
  margin-left: -378px;
  margin-top: 140px;
  width: 100%;
  font-size: medium;
  font-family: 'Trebuchet MS', sans-serif;

}

.mode{
  color: #ffffff;
  text-align: center;
  position: fixed;
  left: 0;
  margin-left: 376px;
  margin-top: 140px;
  width: 100%;
  font-size: medium;
  font-family: 'Trebuchet MS', sans-serif;

}



.square {
  height: 470px;
  width: 510px;
  background-color:whitesmoke;
}

.background {
  height: 100%;
  background: #000000 ;
  background-repeat: repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: #ffffff;
  
}
@font-face {
  font-family: titleFont;
  src: url(titlefont.ttf);
}

.logo{
  position: fixed;
  margin-left: 720px;
  margin-top: 30px;
}
.footer {
  position: fixed;
  left: -10px;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: small;
}

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);          
  }
  
  .sortingCanvas {
    width: 500px;
    height: 460px;
  }
  
  .speedSlider{
    position: absolute;
    left: 500px;
    top: 300px;
    width: 170px;
  }
  .title{
    color: #ffffff;
    text-align: center;
    position: fixed;
    left: 0;
    margin-top: 60px;
    margin-left: -10px;
    width: 100%;
    font-size: xx-large;
    font-family: 'Trebuchet MS', sans-serif;
  }
  
  .speed{
    color: #ffffff;
    text-align: center;
    position: fixed;
    left: 0;
    margin-left: -418px;
    margin-top: 250px;
    width: 100%;
    font-size: medium;
    font-family: 'Trebuchet MS', sans-serif;
  
  }
  .size{
    color: #ffffff;
    text-align: center;
    position: fixed;
    left: 0;
    margin-left: 343px;
    margin-top: 250px;
    width: 100%;
    font-size: medium;
    font-family: 'Trebuchet MS', sans-serif;
  
  }
  
  .algo{
    color: #ffffff;
    text-align: center;
    position: fixed;
    left: 0;
    margin-left: -378px;
    margin-top: 140px;
    width: 100%;
    font-size: medium;
    font-family: 'Trebuchet MS', sans-serif;
  
  }
  
  .mode{
    color: #ffffff;
    text-align: center;
    position: fixed;
    left: 0;
    margin-left: 376px;
    margin-top: 140px;
    width: 100%;
    font-size: medium;
    font-family: 'Trebuchet MS', sans-serif;
  
  }
  
  
  
  .square {
    height: 470px;
    width: 510px;
    background-color:whitesmoke;
  }
  
  .background {
    height: 100%;
    background: #000000 ;
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #ffffff;
    
  }
  @font-face {
    font-family: titleFont;
    src: url(titlefont.ttf);
  }
  
  .logo{
    position: fixed;
    margin-left: 720px;
    margin-top: 30px;
  }
  .footer {
    position: fixed;
    left: -10px;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
  }
  
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
html, body {
  margin: 0;
  padding: 0;
}
canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
     
}

#sortingCanvas {
  display: none;
}

#algoCombo{ 
  display: none;
}
#speedSlider{
  display: none;
}

#sizeSlider{
  display: none;
}

#modeCombo{
  display: none;
}


.speed{
  color: #ffffff;
  text-align: center;
  position: fixed;
  left: 0;
  margin-left: -418px;
  margin-top: 250px;
  width: 100%;
  font-size: medium;
  font-family: 'Trebuchet MS', sans-serif;
  display: none;

}
.size{
  color: #ffffff;
  text-align: center;
  position: fixed;
  left: 0;
  margin-left: 343px;
  margin-top: 250px;
  width: 100%;
  font-size: medium;
  font-family: 'Trebuchet MS', sans-serif;
  display: none;
}

.algo{
  color: #ffffff;
  text-align: center;
  position: fixed;
  left: 0;
  margin-left: -378px;
  margin-top: 140px;
  width: 100%;
  font-size: medium;
  font-family: 'Trebuchet MS', sans-serif;
  display: none;
}

.mode{
  color: #ffffff;
  text-align: center;
  position: fixed;
  left: 0;
  margin-left: 376px;
  margin-top: 140px;
  width: 100%;
  font-size: medium;
  font-family: 'Trebuchet MS', sans-serif;
  display: none;

}



.square {
  height: 470px;
  width: 510px;
  background-color:whitesmoke;
  display: none;
}

.background {
  height: 100%;
  background: #000000 ;
  background-repeat: repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  color: #ffffff;
  
}
@font-face {
  font-family: titleFont;
  src: url(titlefont.ttf);
}

.logo{
  position: fixed;
  margin-left: 310px;
  margin-top: 30px;
}
.title{
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 0;
  margin-top: 60px;
  margin-left: -160px;
  width: 100%;
  font-size: xx-large;
  font-family: 'Trebuchet MS', sans-serif;
}
.info{
  position: relative;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  color: white;
  left: -170px;
  bottom: -300px;
}
.footer {
  position: fixed;
  left: -10px;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: small;
  display: block;
}

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  html, body {
    margin: 0;
    padding: 0;
  }
  .info{
    display: none;
  }
  canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -25%);          
  }
  
  .sortingCanvas {
    width: 500px;
    height: 460px;
  }
  
  .speedSlider{
    position: absolute;
    left: 500px;
    top: 300px;
    width: 170px;
  }
  .title{
    color: #ffffff;
    text-align: center;
    position: fixed;
    left: 0;
    margin-top: 60px;
    margin-left: -10px;
    width: 100%;
    font-size: xx-large;
    font-family: 'Trebuchet MS', sans-serif;
  }
  
  .speed{
    color: #ffffff;
    text-align: center;
    position: fixed;
    left: 0;
    margin-left: -418px;
    margin-top: 250px;
    width: 100%;
    font-size: medium;
    font-family: 'Trebuchet MS', sans-serif;
  
  }
  .size{
    color: #ffffff;
    text-align: center;
    position: fixed;
    left: 0;
    margin-left: 343px;
    margin-top: 250px;
    width: 100%;
    font-size: medium;
    font-family: 'Trebuchet MS', sans-serif;
  
  }
  
  .algo{
    color: #ffffff;
    text-align: center;
    position: fixed;
    left: 0;
    margin-left: -378px;
    margin-top: 140px;
    width: 100%;
    font-size: medium;
    font-family: 'Trebuchet MS', sans-serif;
  
  }
  
  .mode{
    color: #ffffff;
    text-align: center;
    position: fixed;
    left: 0;
    margin-left: 376px;
    margin-top: 140px;
    width: 100%;
    font-size: medium;
    font-family: 'Trebuchet MS', sans-serif;
  
  }
  
  
  
  .square {
    height: 470px;
    width: 510px;
    background-color:whitesmoke;
  }
  
  .background {
    height: 100%;
    background: #000000 ;
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #ffffff;
    
  }
  @font-face {
    font-family: titleFont;
    src: url(titlefont.ttf);
  }
  
  .logo{
    position: fixed;
    margin-left: 720px;
    margin-top: 30px;
  }
  .footer {
    position: fixed;
    left: -10px;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
  }

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
  html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
       
  }
  
  #sortingCanvas {
    display: none;
  }
  
  #algoCombo{ 
    display: none;
  }
  #speedSlider{
    display: none;
  }
  
  #sizeSlider{
    display: none;
  }
  
  #modeCombo{
    display: none;
  }
  
  
  .speed{
    color: #ffffff;
    text-align: center;
    position: fixed;
    left: 0;
    margin-left: -418px;
    margin-top: 250px;
    width: 100%;
    font-size: medium;
    font-family: 'Trebuchet MS', sans-serif;
    display: none;
  
  }
  .size{
    color: #ffffff;
    text-align: center;
    position: fixed;
    left: 0;
    margin-left: 343px;
    margin-top: 250px;
    width: 100%;
    font-size: medium;
    font-family: 'Trebuchet MS', sans-serif;
    display: none;
  }
  
  .algo{
    color: #ffffff;
    text-align: center;
    position: fixed;
    left: 0;
    margin-left: -378px;
    margin-top: 140px;
    width: 100%;
    font-size: medium;
    font-family: 'Trebuchet MS', sans-serif;
    display: none;
  }
  
  .mode{
    color: #ffffff;
    text-align: center;
    position: fixed;
    left: 0;
    margin-left: 376px;
    margin-top: 140px;
    width: 100%;
    font-size: medium;
    font-family: 'Trebuchet MS', sans-serif;
    display: none;
  
  }
  
  
  
  .square {
    height: 470px;
    width: 510px;
    background-color:whitesmoke;
    display: none;
  }
  
  .background {
    height: 100%;
    background: #000000 ;
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #ffffff;
    
  }
  @font-face {
    font-family: titleFont;
    src: url(titlefont.ttf);
  }
  
  .logo{
    position: fixed;
    margin-left: 200px;
    margin-top: 30px;
  }
  .title{
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 0;
    margin-top: 60px;
    margin-left: -140px;
    width: 100%;
    font-size: xx-large;
    font-family: 'Trebuchet MS', sans-serif;
  }
  .info{
    position: relative;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    left: -150px;
    bottom: -300px;
    font-size: small;
  }
  .footer {
    position: fixed;
    left: -10px;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
    display: block;
  }  

}
/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  html, body {
    margin: 0;
    padding: 0;
  }
  canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
       
  }
  
  #sortingCanvas {
    display: none;
  }
  
  #algoCombo{ 
    display: none;
  }
  #speedSlider{
    display: none;
  }
  
  #sizeSlider{
    display: none;
  }
  
  #modeCombo{
    display: none;
  }
  
  
  .speed{
    color: #ffffff;
    text-align: center;
    position: fixed;
    left: 0;
    margin-left: -418px;
    margin-top: 250px;
    width: 100%;
    font-size: medium;
    font-family: 'Trebuchet MS', sans-serif;
    display: none;
  
  }
  .size{
    color: #ffffff;
    text-align: center;
    position: fixed;
    left: 0;
    margin-left: 343px;
    margin-top: 250px;
    width: 100%;
    font-size: medium;
    font-family: 'Trebuchet MS', sans-serif;
    display: none;
  }
  
  .algo{
    color: #ffffff;
    text-align: center;
    position: fixed;
    left: 0;
    margin-left: -378px;
    margin-top: 140px;
    width: 100%;
    font-size: medium;
    font-family: 'Trebuchet MS', sans-serif;
    display: none;
  }
  
  .mode{
    color: #ffffff;
    text-align: center;
    position: fixed;
    left: 0;
    margin-left: 376px;
    margin-top: 140px;
    width: 100%;
    font-size: medium;
    font-family: 'Trebuchet MS', sans-serif;
    display: none;
  
  }
  
  
  
  .square {
    height: 470px;
    width: 510px;
    background-color:whitesmoke;
    display: none;
  }
  
  .background {
    height: 100%;
    background: #000000 ;
    background-repeat: repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #ffffff;
    
  }
  @font-face {
    font-family: titleFont;
    src: url(titlefont.ttf);
  }
  
  .logo{
    position: fixed;
    margin-left: 150px;
    margin-top: 30px;
  }
  .title{
    color: #ffffff;
    text-align: center;
    position: absolute;
    left: 0;
    margin-top: 60px;
    margin-left: -0px;
    width: 100%;
    font-size: xx-large;
    font-family: 'Trebuchet MS', sans-serif;
  }
  .info{
    position: relative;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    left: -0px;
    bottom: -300px;
    font-size: small;
  }
  .footer {
    position: fixed;
    left: -10px;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: small;
    display: block;
  }
}